*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(bannerBG.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 200px;
    height: 50px;

}
.nav-links{
    flex: 1;
    text-align: right;

}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;


}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;

}




/*------ MOBIL SETTINGS-----*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;

    } 

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fa:hover{
        
        
        transition: 0.5s;
    
        }
    
    nav .fa:after{
            
            transition: 0.5s;
        }

    .nav-links ul{
        padding: 30px;

    }   
    nav img {
        scale: 0.8;
        
    }
    
    .row{
        flex-direction: column;
    }
    .opgaver h1{
        font-size: 20px;
    }
   
    .opgaver h3{
        font-weight: 300;
    }

    .omos h1{
        font-size: 20px;
    }

    .hold{
        flex-direction: column;
        position: flex;
        align-items: center;
       
    }
    
   
    .ikonBanner .ikonBannerImg{
       
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        display: block;
        overflow: hidden;
    }
    
    .ikonBanner .linearGradientBG{
        
        position: absolute;
       
    }
 
    
    .NyesteOpgaver{
       
        flex-direction: column;
        position: flex;
        align-items: center;
    }

    .NyesteOpgaver embed{
      
        
        flex-direction: column;
        position: flex;
        align-items: center;
    }

}


/*------ Nyeste Opgaver-----*/
.OpgaveHeader h1{
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: #eaeaea;
    
}

.NyesteOpgaver{
    width: 100%;
    padding: 60px 0;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    

}

.NyesteOpgaverBox{
    width: 200px;
    height: 200px;
    background-color: #040404;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--
.NyesteOpgaverBox:nth-child(1){
    background-image: url(billeder/mat-bog-logo.png);
    
}
--*/

.NyesteOpgaver embed:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.NyesteOpgaver h3{
    
    text-decoration: none;
    color: #000000;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: flex;
    cursor: pointer;
    align-self: center;
    justify-content: center;
}

.NyesteOpgaver h3:hover{
    border: 1px solid #f44336;
    color: #fff;
    background: #f44336;
    transition: 0.3s;
}



/*------ OPGAVER-----*/

.opgaver{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 900;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.opgaver-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.opgaver-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
} 


/*------ IKON BANNER-----*/
.ikonBanner{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.ikonBanner .ikonBannerImg{
    background-size: 100%;
    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    display: block;
    overflow: hidden;
}

.ikonBanner .linearGradientBG{
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8));
    position: absolute;
    background-size: 100%;
    width: 100%;
    height: 470px;
}





/*------ om os-----*/
.omos{
    
    padding-top: 50px;
    margin-bottom: 60px;
    text-align: center;
   
    
}
.hold{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    
}

.hold_deltager{
    background: #fff3f3;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    position: relative;
    
   
}

.hold_deltager:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
   
}

.hold .hold_deltager{
    color: #000000;
    font-size: 16px;
    margin-top: 50px;
    
}


.hold .hold_deltager h3{
    color: #000000;
    font-size: 16px;
    margin-top: 30px;
    
}

.hold .hold_deltager p.rolle{
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
    
}

.hold .hold_deltager .hold_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    
}

.hold .hold_deltager .hold_img img{
    width: 100px;
    height: 100px;
   
  
    
}

.hold .hold_deltager .hold_img:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
   
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .kontaktBox {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: center;
    display: flex;
  }
